<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
      <a class="navbar-brand" href="/listings">
        <img src="/assets/rentifylogo2.png" alt="logo" height="200px" width="200px">
      </a>

    <!-- Hamburger toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav text-end">
    <a class="nav-link home-btn" href="/listings">Home</a>
    <% if(!currUser) { %>
      <a class="nav-link signup-btn" href="/signup">Signup</a>
      <a class="nav-link login-btn" href="/login">Login</a>
    <% } %>
    <% if(currUser){ %>
      <p class="nav-link">Welcome, <%= currUser.username %></p>

      <!-- Desktop view user circle with tooltip -->
      <% if(!currUser.profileImage){ %>
        <div class="nav-link user-ch d-none d-md-block">
        <a href="/profile/<%= currUser._id  %>"><%= currUser.username[0].toUpperCase() %></a>
        <span class="tooltip-text">My Profile</span>
      </div>
      <% }else{ %>
        <div class="nav-link user-ch d-none d-md-block">
          <a href="/profile/<%= currUser._id %>"><img src="<%= currUser.profileImage %>"></a>
          
          <span class="tooltip-text">My Profile</span>
        </div>
      <% } %>
      

      <!-- Mobile view 'My Profile' link -->
      <a href="/profile/<%= currUser._id  %>" class="nav-link mobile-profile d-md-none">My Profile</a>

      <a class="nav-link logout d-md-block" href="/logout">Logout</a>
    <% } %>
  </div>
</div>
  </div>
</nav>
